[user]
	name = Andrew Gibb
	email = andrew.gibb@bbc.co.uk
[push]
	default = simple
[url "https://github.com"]
	insteadOf = git://github.com
[core]
    editor = vim
[github]
	user = AndrewGibb
[credential]
    helper = store
[difftool "p4merge"]
	path = /Applications/p4merge.app/Contents/MacOS/p4merge
[diff]
	tool = p4merge
[difftool]
	prompt = false
